{{user_navs = True}}
{{extend 'layout.html'}}

{{block moreincludes}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style type="text/css">
        .rscontainer {
            padding-left: 20px;
            padding-right:20px;
            padding-top: 20px;
        }
    </style>
{{end}}

{{block statusbar}}
{{end}}

<div class="container rscontainer">

    {{if (request.args(0) != 'register'):}}

        <div class="row">
          {{ if settings.academy_mode: }}
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h2>Bem-vindo!</h2>
                <p>Esta plataforma utiliza o <a href="https://runestoneinteractive.org/">Runestone Interactive</a>, um projeto de código aberto que
                     tem como missão democratizar livros didáticos, disponibilizando cursos abertos e livros interativos.</p>
                <p>Os cursos disponibilizados aqui pertencem e são gerenciados pelo Instituto de Matemática e Estatística da Universidade de São Paulo (IME-USP).</p>
                <div class="row" style="display: flex">
                    <p style="flex: 1; margin: 10px 50px 10px"><a href="https://www.ime.usp.br/"><img src="/runestone/static/_images/logo-ime.png" width=128 alt="Logo IME"></a></p>
                    <p style="flex: 1; margin: 10px 50px 10px"><a href="https://www5.usp.br/"><img src="/runestone/static/_images/usp.png" width=128 alt="USP"></a></p>
                </div>
            </div>
            {{ if 'static' in request.env.query_string:}}
                <p>It appears you are trying to get to a class for which you must log in.  If you have already registered, please login below.  Otherwise you can <a href="{{=URL(f='user/register')}}">Register</a> here.</p>
            {{pass}}
          {{pass}}
            <!--  LOGIN -->
          {{if not settings.lti_only_mode:}}
          {{ if not auth.user or request.args(0) == 'impersonate': }}
              <h4 class="col-md-4">{{=T( request.args(0).replace('_',' ').capitalize() )}}</h4>
          {{ pass }}
          {{ if request.args(0) == 'login' and not auth.user: }}
                <div id="web2py_user_form" class="col-md-4">
                    <form class="form-horizontal" method="post">
                        {{if not session.auth_two_factor_user:}}
                            <div class="form-group">
                                <div class="col-sm-offset-2">
                                    <label for="auth_user_username" class="control-label">{{=T("Username")}}</label>
                                    <input type="text" class="form-control col-xs-4" id="auth_user_username" name="username"
                                           placeholder="{{=T("Enter username")}}" autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2">
                                    <label for="auth_user_password" class="control-label">{{=T("Password")}}</label>
                                    <div>
                                        <input type="password" class="form-control" id="auth_user_password" name="password"
                                            placeholder="{{=T("Enter password")}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2">
                                    <div class="checkbox">
                                        <label>
                                            <input id="auth_user_remember_me" name="remember_me" type="checkbox"> {{=T("Remember me")}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-4">
                                    <button type="submit" class="btn btn-default" id="login_button">{{=T("Login")}}</button>
                                </div>
                            </div>
                        {{else:}}
                            <div class="form-group">
                                <div class="col-sm-offset-2">
                                <label for="authentication_code" class="control-label">{{=T("Authentication code")}}</label>
                                <input class="form-control col-xs-4" id="authentication_code" name="authentication_code" type="password"
                                       placeholder="Enter code" autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-4">
                                    <button type="submit" class="btn btn-default" id="login_button">{{=T("Login")}}</button>
                                </div>
                            </div>
                        {{pass}}
                    {{=form.custom.end}}
                    <!-- Must use this to get all the good defaults for the form -->
                    <div id='auth-actions' style="margin-left: 20px;">
                        {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
                            <a class="btn btn-sm btn-primary" href="{{=URL(args='request_reset_password')}}"
                                role="button">{{=T('Lost Password')}}</a>
                            <a class="btn btn-sm btn-primary" href="{{=URL(args='retrieve_username')}}"
                                role="button">{{=T('Forgot Username')}}</a>
                        {{pass}}
                    </div>
                </div>
            {{pass}}


            {{if request.args(0) in ['retrieve_username', 'profile', 'request_reset_password', 'reset_password', 'change_password']: }}
                <div class="content row">
                <div id="web2py_user_form" class="col-md-4 col-sm-6 col-xs-12">
                    {{=form}}
                    {{ if settings.academy_mode and request.args(0) == 'profile':}}
                    <form action="{{=URL('default','delete')}}" onsubmit="return confirm('Are you sure?')">
		                <div class="checkbox">
                        <label>
                          <input type=checkbox name="deleteaccount" id="delacct">
			              <span>Delete my account and all data. Cannot be undone!</span>
                        </label>
                        </div>
                        <input type="submit" value="Delete" class="btn btn-primary">
                    </form>
                    {{ pass }}
                    {{ if request.args(0) not in ['profile', 'reset_password', 'change_password']: }}
                        <p> You will receive an email from info@runestone.academy with your username.  If you don't see it right away check your spam folder.  You may want to add info@runestone.academy to your contacts to prevent it from going to spam in the future.</p>
                    {{pass}}

                </div>
                </div>
            {{pass}}
          {{else:}}
            Please login via your learning management system (Coursera, Canvas, Blackboard, etc.)
            {{if settings.coursera_mode:}}
               <p>At the beginning of each study session, you will need to first use one of the links at the top of a lesson that says something like, "Single Sign On: Interactive Textbook and Practice Opportunities." Once you've done that, you'll be able to use the textbook for the duration of your learning sessions, including the links to individual textbook pages in Coursera.</p>
            {{pass}}
          {{pass}}
        </div>
    {{pass}}  <!-- end of always show the carousel EXCEPT for registration -->
    {{if request.args(0) != 'register': }}
    <div class="content row">
    {{pass}}
        <!-- REGISTRATION -->
        {{if (request.args(0) == 'register'): }} <!-- register page -->
          {{if not settings.lti_only_mode:}}
            Registration is disabled. Please contact the system administrator.
          {{else:}} <!-- lti_only_mode -->
            Registration is disabled. Please login via your learning management system (Coursera, Canvas, Blackboard, etc.)
          {{pass}}
        {{pass}} <!-- end register page -->
    </div>
</div>

<script language="javascript" type="text/javascript">
    var cur_course = $('#auth_user_course_id').val();
    if (cur_course == '') {
        $('#auth_user_course_id').val('thinkcspy, pythonds, ... See Hints!')
    }
    $("#auth_user_course_id").on("click", function () {
       $(this).select();
    });
</script>
